<div id="chat-btn">💬</div>

<div id="chat-box">
    <div class="chat-header">
        Tubemind AI
        <span id="chat-close">×</span>
    </div>

    <div id="chat-messages"></div>

    <div class="chat-input-box">

        <select id="chat-lang" class="input">
            <option>English</option>
            <option>Hindi</option>
            <option>Spanish</option>
            <option>French</option>
            <option>German</option>
            <option>Chinese (Traditional)</option>
            <option>Arabic</option>
            <option>Japanese</option>
            <option>Korean</option>
            <option>Portuguese</option>
            <option>Russian</option>
            <option>Italian</option>
            <option>Telugu</option>
            <option>Marathi</option>
            <option>Gujarati</option>
            <option>Kannada</option>
        </select>

        <input id="chat-input" placeholder="Ask something...">
        <button id="chat-send">▶</button>
        <button id="chat-mic-btn">🎤</button>
    </div>
</div>
