# ----------------------------
# ENV
# ----------------------------
.env

# ----------------------------
# PYTHON
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# VENV
# ----------------------------
venv/
env/

# ----------------------------
# LOGS
# ----------------------------
logs/
*.log

# ----------------------------
# DATABASE / LOCAL FILES
# ----------------------------
*.db
*.sqlite3

# ----------------------------
# FAISS / VECTOR DB
# ----------------------------
faiss_store/

# ----------------------------
# STORAGE FILES
# ----------------------------
storage/
temp/
*.wav
*.mp3
*.mp4

# ----------------------------
# OS FILES
# ----------------------------
.DS_Store
Thumbs.db